body{
  background-color: rgb(155, 194, 194);
  margin:0 ! important;
}

iframe{
  width: 380px;
  height: 260px;
}

.stacking-content{
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.rocket{
  font-size: 20pt;
  margin-left: 2vw;
}

.bars{
  font-size: 20pt;
  margin-right: 1vw;
}

.b-image{
  margin: 0;
  background-image: url("https://picsum.photos/1920/1080");
  height: auto;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

.media{
  padding-top: 5vh;
}

.text-and-button{
  width: 320px;
  max-width: 320px;
  padding-top: 5vh;
}

.card-container{
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  background-color: dodgerblue;
}

.card-col{
  display: flex;
  align-items: center;
}

.card{
  width: 250px;
  margin-top: 9vh;
  margin-bottom: -5vh;
  background-color: rgb(129, 163, 150);
}

.card-img{
  width: 200px;
  border-radius: 50%
}

.card-button{
  position: absolute;
  bottom: -17px;
  left: 80px;
}

.logo-footer{
  display: flex;
  align-items: center;
}

.logo-area{
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: darkorchid;
  border-bottom: 3px solid blue;
}
